{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Donate | KidSmiley</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/component.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/get_involved.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/donate.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
{% include 'home/nav.html' %}
{% block content %}

{% endblock %}

<!--=====================Start of footer=================-->
{% include 'home/footer.html' %}
<!--=====================End of footer=================-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="{% static 'js/myscript.js' %}"></script>
</body>
</html>
