{% load staticfiles %}
<footer>
    <div class="content container-fluid">
        <div class="row">

            <div class="col-md-3 col-sm-8 col-sm-offset-4 col-xs-10 col-md-offset-0 col-xs-offset-2">
                <p class="logo_margin"><img src="{% static 'images/logo_white.png' %}" style="width:220px" alt="logo"/> <a
                        href="http://kidsmiley.com"></a>
                </p>
            </div>
            <!-- col-sm-6 -->

            <div class="col-md-3 col-sm-8 col-sm-offset-4 col-xs-10 col-md-offset-0 col-xs-offset-2">
               <ul class="list-inline contact_icon">
                  <li><a href=""><i class="fa fa-twitter"></i></a></li>
                  <li><a href=""><i class="fa fa-facebook"></i></a></li>
                  <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-8 col-sm-offset-2 col-xs-12 col-md-offset-0 col-xs-offset-0">
                <nav class="navbar navbar-default" role="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">home</a></li>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">get involved</a></li>
                        <li><a href="#">contact us</a></li>
                        <li><a href="#">donate</a></li>
                    </ul>
                </nav>
            </div>
            <!-- col-sm-6 -->
        </div>
        <!-- row -->
    </div>
    <!-- content container -->
</footer>
