@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,,500,700');
@font-face {
	font-family: Rodina regular;
	font-weight: bold;
	src: url(fonts/Rodina-Regular.otf) format("opentype");
}
/**  Basic Page CSS **/
body {
	font-family: 'PT Sans', sans-serif;
	font-weight: 300;
	font-size: 2em;
	position: relative;
	overflow-x: hidden;
}
/*grey{
  #58595b
  #404041
}
*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Sans', sans-serif;
	font-weight: 100;
	margin: 0;
}
footer .contact_icon .fa {
	margin: 0px 9px;
	background: #fff;
	color: #eb9d38;
	border-radius: 50%;
	width: 53px;
	height: 53px;
	text-align: center;
	padding: 10px 11px;
	font-size: 36px;
	text-decoration: none!important;
	transition: .3s;
}
footer .contact_icon .fa:hover {
  color:#000;
}
footer .contact_icon{
	margin-top:46px;
}
.smile_heading {
	font-size: 46px;
	color: #73c38a;
	font-weight: 600;
}
.smile_para {
	font-size: 32px;
	font-weight: 500;
	color: #404041;
}
/**  Header Navigation **/
.header_bg {
	position: relative;
	width: 100%;
	height: 85vh;
	background-size: cover;
	background-image: url(../images/hero_bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 30% 20%;
}
.header_bg::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	right: 0;
	bottom: 0;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.4);
}
header .navbar {
	max-height: 92px;
	transition: all .5s ease-out;
}
header .navbar-default {
	background-color: #73c38a;
	padding: 26px 0px;
	border: none;
}
header .navbar-default .navbar-nav a {
	color: white;
	padding: 5px 8px;
	font-family: Rodina regular;
}

@media(min-width:1300px) {
header .navbar-default .navbar-nav a {
	padding: 5px 83px 5px 21px;
	font-size: 28px;
}
.navbar-right {
	margin-top: 0px;
}
}
header .navbar-default .navbar-nav a:hover ,header .navbar-default .navbar-nav a:active{
	color: #eb9d38;
}
header .navbar-default .navbar-nav .active a {
	font-weight: 700;
	color: #eb9d38;
	background: transparent;
	text-shadow: none;
}
header .navbar-default .navbar-nav .active a:hover {
	color: #eb9d38;
	background: transparent;
	text-shadow: none;
}
/**  Navbar Brand **/

header #logo_bg {
	width: 333px;
	height: 147px;
	background-image: url(../images/white_bg.png);
	position: absolute;
	top: -6px;
	background-size: cover;
	left: 0px;
}
.navbar-brand img {
	position: relative;
	left: 82px;
}
header .navbar-brand h1 {
	color: white;
	margin: 0;
	font-size: 1.8em;
	font-weight: 400;
	padding-left: 105px;
}
header .navbar-brand span.subhead {
	display: block;
	font-family: "Roboto Slab", serif;
	font-size: .6em;
	font-weight: 100;
}
/**  Navbar Toggle **/
.navbar-default .navbar-toggle {
	background-color: #73c38a;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #eb9d38;
}
header .navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

@media only screen and (max-width: 768px) {
header .navbar-collapse.in {
	background-color: rgba(0,0,0, .5);
}
}

@media only screen and (max-width: 992px) {
.navbar-brand img {
	left: 44px;
	top: -8px;
	height: 82px;
}
header #logo_bg {
	width: 285px;
	height: 98px;
}
.navbar-nav {
	padding: 20px 43px 20px;
}
}
/**  nav inbody **/

header .inbody {
	background: #73c38a;
}
header .navbar.inbody {
	padding-top: 0;
	padding-bottom: 0;
}
header .navbar.inbody .navbar-nav {
	padding-top: 10px;
}
header .inbody .navbar-brand {
	background-size: 43px;
	background-position: top left;
	margin-top: 5px;
	padding-bottom: 0;
	margin-left: 10px;
}
header .inbody .navbar-brand h1 {
	font-size: 1.1em;
	padding-left: 38px;
}
header .inbody .navbar-brand span.subhead {
	display: none;
}

@media(min-width:768px) and (max-width:1268px) {
header .navbar-default .navbar-nav a {
	padding: 5px 15px 5px;
	font-size: 18px;
}
}
/*END OF HEADER*/
/*INFO BG*/

.info_bg {
	background: url(../images/info_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
}
.info_content {
	position: relative;
	top: 230px;
	color: #fff;
	text-transform: uppercase;
}
.info_bg img {
	width: 230px;
	height: 115px;
}
.info_text {
	font-size: 3.5em;
	font-weight: 600;
}
.info_l_text {
	font-size: 1.4em;
	display: block;
	font-weight: 900;
}
/*INFO BG*/
/*form*/
.contact_form {
	font-family: Rodina regular;
	padding: 70px 0px 70px;
}
.submit {
	width: 122px;
	height: 50px;
	background-color: #73c38a;
	color: #fff;
	font-size: 38px;
	padding: 0px;
	transition: .3s;
}
.submit:hover {
	background: #eb9d38;
	;
	color: 000;
}
label {
	font-size: 22px;
	margin: 10px 32px;
	font-family: 'PT Sans', sans-serif;
}
.contact_form .smile_heading {
	font-family: Rodina regular;
	color: #58585a;
}
.from_label {
	font-size: 22px;
	margin: 10px 32px
}
textarea.form-control {
	height: 300px;
	font-size:24px;
}
.required-astreik::after {
	color: #eb9d38;
	content: ' *';
	display: inline;
	font-size: 34px;
	position: absolute;
	left: 100px;
	top: 0px;
}
input[type="text"] {
    font-size:24px;
}
input[type="email"] {
    font-size:24px;
}
input::-webkit-input-placeholder {
 color:#58585a!important;
 font-size:20px;
 font-style:italic;
}
 input:-moz-placeholder { /* Firefox 18- */
 color:#58585a!important;
 font-size:20px;
 font-style:italic;
}
 input::-moz-placeholder {  /* Firefox 19+ */
 color:#58585a!important;
 font-size:20px;
 font-style:italic;
}
 input:-ms-input-placeholder {
 color:#58585a!important;
 font-size:20px;
 font-style:italic;
}
 textarea::-webkit-input-placeholder {
 color:#58585a!important;
 font-size:20px;
 font-style:italic;
}
 textarea:-moz-placeholder { /* Firefox 18- */
color:#58585a!important;
 font-size:20px;
 font-style:italic;
}
 textarea::-moz-placeholder {  /* Firefox 19+ */
color:#58585a!important;
 font-size:20px;
 font-style:italic;
}
 textarea:-ms-input-placeholder {
 color:#58585a!important;
 font-size:20px;
 font-style:italic;
}
input[type="email"]::-webkit-input-placeholder {
 color:#58585a!important;
 font-size:20px;
 font-style:italic;
}
 input[type="email"]:-moz-placeholder { /* Firefox 18- */
color:#58585a!important;
 font-size:20px;
 font-style:italic;
}
 input[type="email"]::-moz-placeholder {  /* Firefox 19+ */
color:#58585a!important;
 font-size:20px;
 font-style:italic;
}
 input[type="email"]:-ms-input-placeholder {
color:#58585a!important;
 font-size:20px;
 font-style:italic;
}
.form-control {
	display: block;
	width: 100%;
	height: 59px;
	padding: 6px 12px;
	margin: 0px 0px 18px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #58585a;
	background-color: #fff;
	background-image: none;
	border: 4px solid #58585a;
	;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
	border-color: #eb9d38;
	outline: 0;
	box-shadow: 0px;
}
.name-error, .email-error, .text-error {
	color: #eb9d38;
	font-family: Roboto;
	font-weight: 500;
	margin-top: 6px;
	display: none;
}
/** Start of  Footer **/


footer {
	background: #eb9d38;
	color: white;
	font-size: .8em;
	padding: 20px 0 5px 0;
}
footer a:hover {
	color: #EEC856 !important;
}
footer .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #000!important;
}
footer .phone {
	font-size: 1.4em;
	font-weight: 700;
	color: #E0E6AE;
}
footer .navbar {
	margin-bottom: 0;
	min-height: 0;
}
footer .navbar-default {
	background-color: transparent;
	border: none;
	margin: 45px 26px 0px;
}
footer .contact_icon img {
	width: 50px;
	height: 50px;
	margin: 50px 11px;
	transition: all .3s;
}
footer .contact_icon img:hover{
	opacity: .7;
}
@media(max-width:1200px) and (min-width:768px) {
footer .contact_icon img {
	margin: 50px 3px;
}
}
footer .navbar-nav>li a {
	padding: 16px 14px;
	border-left: 4px solid #fff;
	margin-left: 10px;
	height: 55px;
	text-decoration: none;
	color: #fff!important;
	font-size: 20px;
	transition: .5s;
}
footer .logo_margin{
 margin-left: 38px;
}
@media(max-width:992px) {
footer .nav>li {
	display: inline-block;
	margin-top: -20px;
}
footer .navbar-default {
	margin: -10px 0px 0px;
}
footer .navbar-nav>li a {
	border: none;
}

}
